STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
STRAVA_REDIRECT_URI=http://localhost:3000/api/auth/strava/callback

MONGO_URI=mongodb://localhost:27017/urace
DB_NAME=urace

JWT_SECRET=
STRAVA_WEBHOOK_VERIFY_TOKEN=
FRONTEND_URL=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
FROM_EMAIL=